
/* Main container for everything */
.container {
    display: grid;
}

/* Container for the dotted flipping cards */
.card-row {
    display: flex;
    grid-row: 1;
    align-items: center;
    justify-content: space-evenly;
}

.numbers-row {
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: space-evenly;
}

.numbers-row p {
    font-size: 30pt;
}

.numbers-row div {
    text-align: center;
    width: 100pt;
}

.dotted-card {
    background-color: transparent;
    width: 100pt;
    height: 150pt;
    border: 1px solid black;
    perspective: 1000px;
    grid-row: 1;
}

.dotted-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.dotted-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}


.card__face--back {
    background: black;
    transform: rotateY( 180deg );
}

img {
    width: 100%;
    object-fit: cover;
}


.result {
    grid-row: 3;
    display: flex;
    justify-content: center;
    margin-top: 30pt
}

.result-show {
    width: 90%;
    display:flex;
    justify-content: space-evenly;
}

.result-show-button {
    width: 40%;
    height: 40pt;
    font-size: 20pt;   
}

.result-values {
    grid-row: 4;
    display: none;

    justify-content: center;
    margin-top: 20pt;
}

.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    font-size: 30pt;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.letter-wrap {
    visibility: hidden;
}